*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: wheat;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.container .input-fields {
  width: 100%;
}
button {
  background-color: rgb(91, 13, 164);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
}
.container .input-fields button {
  padding: 8px 20px;
  width: 50%;
  font-size: 1.2rem;
}
input {
  display: block;
  padding: 10px 25px;
  font-size: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 0;
  width: 90%;
  margin: 15px auto;
  background-color: #212020;
  border: 1px solid #696262;
  color: white;
}
.container .searchBtn {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}
.container .searchBtn button {
  width: 40%;
}
.deleteAllBtn {
  width: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.prices {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.prices .total {
  font-size: 1.3rem;
  background-color: #696262;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.prices input {
  flex-basis: 14%;
  margin: 0 20px;
}
table button {
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
}
table {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}
th,
td {
  padding: 5px;
}
